# Ignore system directories  
.DS_Store  
*.log  
*.tmp  
*.bak  
*.swp  
*.swo  
*.swn  
*.swo  
node_modules/  
.android/  
.arduinoIDE/  
.bash_history  
.config/  
.dbclient/  
.gitconfig  
.idlerc/  
.lesshst  
.node_repl_history  
.python_history  
.vscode/  
AppData/  
Downloads/  
Music/  
Pictures/  
Videos/  
